<%=link_to( "test", '/test', method: :post) %>

<%= form_tag("/emails", method: "post") do %>
  <%= label_tag(:email, "Search for:") %>
  <%= text_field_tag(:email) %>
  <%= submit_tag("Search") %>
<% end %>

 <%= form_for(@mandrill,url: email_path, method: :post) do |f| %>
        <div>
          <%= f.text_area :content, :rows => 3, :cols => 50 %>
        </div>
        <%= f.submit "Add comment" %>
      <% end %>