<%= render "shared/navbar" %>
<Br>
<div class="container-fluid">
 <div class ="row">
    <div class ="col-md-2 col-md-offset-11">
     <%=  link_to('Sign in!', login_path, {class: "btn-lg btn-info"}) %>
    </div>
  </div>
<br><br>
  <h2 class ="text-center">Create an account:</h2>
  <br>

  <%= simple_form_for(@user, defaults: { error_html: { id: 'error' } }, :html => { :class => "form-inline"}) do |f|%>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <%= f.input :first_name%>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <%= f.input :last_name%>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <%= f.input :username%>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2 col-md-offset-3">
      <%= f.input :email%>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <%= f.input :password%>
    </div>
  </div>
  <br><br>
  <div class ="row">
    <div class ="col-md-2 col-md-offset-5">
      <%= f.submit "Create account", class: 'btn-lg btn-primary' %>
    </div>
  </div>
  <% end %>

</div>