<%= render "shared/navbar" %>
<div class="container-fluid">

  <h2 class = "text-center"> <%= @itinerary.name%> </h2>

  <!-- <table style = "border: 1px solid black; border-collapse: collapse"> -->
  <div class="row">
    <div class ="col-md-6 col-md-offset-3">
      <table class ="table table-striped">
        <tr>
          <th>Name</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Departure Date</th>
          <th>Return Date</th>
          <th>Owner</th>
        </tr>
        <tr>
          <td><%= @itinerary.name %></td>
          <td><%= @itinerary.origin %></td>
          <td><%= @itinerary.destination %></td>
          <td><%= @itinerary.departure_date %></td>
          <td><%= @itinerary.return_date %></td>
          <td><%= @itinerary_owner.username %></td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <h2 class="text-center">Itinerary Companions</h2>
    <div class="row">
      <div class ="col-md-10 col-md-offset-1">
        <table class ="table table-striped">
          <tr>
            <th>Name</th>
            <% if session[:user_id] == @itinerary.user_id %>
              <th>Remove</th>
            <% end %>
          </tr>
          <% @itinerary.companions.each do |companion| %>
            <tr>
              <td><%= companion.name %></td>
              <% if session[:user_id] == @itinerary.user_id %>
                <!-- double-check below -->
                <td><%= link_to('Delete', itinerary_companion_path(@itinerary, companion), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-xs btn-danger")%></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
</div>







