<nav class="navbar navbar-default navbar-fixed-top">
<br>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><p><%=  link_to('Back to Itineraries', itineraries_path, {class: "btn btn-primary"}) %></p></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><p><%= link_to('Home',itineraries_path, class: "btn btn-primary")%></p></li>
          <% if session[:first_name] != nil %>
        <li><p><%= link_to('Logout',logout_path, method: :delete,  class: "btn btn-primary")%></p></li>
        <% else %>
          <li><p><%= link_to('Login',login_path,  class: "btn btn-primary")%></p></li>
         <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br>
<div class="container-fluid">
  <h2 class = "text-center"> <%= @itinerary.name%> </h2>
  <br>
  <!-- <table style = "border: 1px solid black; border-collapse: collapse"> -->
  <div class="row">
    <div class ="col-md-8 col-md-offset-2">
      <table class ="table table-striped">
        <tr>
          <th>Name</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Depart Date</th>
          <th>Return Date</th>
          <th>Activities</th>
          <th>Owner</th>
          <th>Edit</th>
        </tr>
        <tr>
          <td><%= @itinerary.name %></td>
          <td><%= @itinerary.origin %></td>
          <td><%= @itinerary.destination %></td>
          <td><%= @itinerary.departure_date %></td>
          <td><%= @itinerary.return_date %></td>
          <td><%= link_to('See Activities', itinerary_activities_path(@itinerary), {class: "btn-xs btn-info"}) %></td>
          <td><%= @itinerary_owner.username %></td>
          <td><%= link_to('Edit', edit_itinerary_path(@itinerary), {class: "btn-xs btn-info"})%></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class ="col-md-6">
      <h3 class="text-center">Companions</h3>
    </div>
    <div class ="col-md-6">
      <h3 class="text">Comments</h3>
    </div>
  </div>
  <% if session[:user_id] == @itinerary.user_id %>
    <div class="row">
      <div class ="col-md-4 col-md-offset-2">
        <%= form_for @user, url: new_itinerary_user_path(@itinerary) do |f| %>
          <%= f.label :id, "Add a companion: " %>
          <%= f.text_field :id, list: "users" %>
          <datalist id="users">
            <% @users.each do |user| %>
            <% unless @itinerary.user_id == user.id %>
              <option value=<%= user.id %>><%= user.first_name %> <%= user.last_name %></option>
            <% end %>
            <% end %>
          </datalist>
          <%= f.submit 'Add' %>
        <% end %>
        <br>
      </div>
      <div class ="col-md-6">
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class ="col-md-4 col-md-offset-2">
      <table class ="table table-striped">
        <% @itinerary.users.each do |user| %>
          <tr>
            <td><%= user.first_name %> <%= user.last_name %></td>
            <% unless @itinerary.user_id == user.id %>
              <!-- double-check below -->
              <td><%= link_to('Remove', remove_itinerary_user_path(@itinerary, user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-xs btn-danger")%></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    <div class ="col-md-6">
      <%= form_for [@itinerary, Review.new] do |f| %>
        <div>
          <%= f.text_area :content, :rows => 3, :cols => 50 %>
        </div>
        <%= f.submit "Add comment" %>
      <% end %>
      <br>
      <% @reviews.each do |review| %>
        <p>
          <%= review.content %> - <%= time_ago_in_words review.created_at %> ago by <strong><%= User.find(session[:user_id]).username %></strong>
        </p>
      <% end %>
    </div>
  </div>
</div>







