<%= render "shared/navbar" %>
<br>
<div class="container-fluid">
  <h2 class = "text-center"> <%= @itinerary.name%> </h2>
  <br>
  <!-- <table style = "border: 1px solid black; border-collapse: collapse"> -->
  <div class="row">
    <div class ="col-md-8 col-md-offset-2">
      <table class ="table table-striped">
        <tr>
          <th>Name</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Depart Date</th>
          <th>Return Date</th>
          <th>Activities</th>
          <th>Owner</th>
          <th>Edit</th>
        </tr>
        <tr>
          <td><%= @itinerary.name %></td>
          <td><%= @itinerary.origin %></td>
          <td><%= @itinerary.destination %></td>
          <td><%= @itinerary.departure_date %></td>
          <td><%= @itinerary.return_date %></td>
          <td><%= link_to('See Activities', itinerary_activities_path(@itinerary), {class: "btn-xs btn-info"}) %></td>
          <td><%= @itinerary_owner.username %></td>
          <td><%= link_to('Edit', edit_itinerary_path(@itinerary), {class: "btn-xs btn-info"})%></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class ="col-md-6">
      <h3 class="text-center">Companions</h3>
      <%= form_for @user, url: new_itinerary_user_path(@itinerary) do |f| %>
        <%= f.label :banana, "Add a companion: " %>
        <%= f.text_field :banana, list: "users" %>
        <datalist id="users">
          <% @users.each do |user| %>
            <option value=<%= user.id %>><%= user.first_name %> <%= user.last_name %></option>
          <% end %>
        </datalist>
        <%= f.submit 'Add' %>
      <% end %>
    </div>
    <div class ="col-md-6">
      <h3 class="text">Comments</h3>
    </div>
  </div>
  <div class="row">
    <div class ="col-md-4 col-md-offset-2">
      <table class ="table table-striped">
        <tr>
          <th>Name</th>
          <% if session[:user_id] == @itinerary.user_id %>
            <th>Remove</th>
          <% end %>
        </tr>
        <% @itinerary.users.each do |user| %>
          <tr>
            <td><%= user.first_name %> <%= user.last_name %></td>
            <% if session[:user_id] == @itinerary.user_id %>
              <!-- double-check below -->
              <td><%= link_to('Remove', remove_itinerary_user_path(@itinerary, user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-xs btn-danger")%></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    <div class ="col-md-6">
      <br>
      <% @reviews.each do |review| %>
        <p>
          <%= review.content %> - <%= time_ago_in_words review.created_at %> ago by <strong><%= User.find(session[:user_id]).username %></strong>
        </p>
      <% end %>
      <!-- rows are lines of text, column is one character (default column size applied here)
      better to use CSS to manipulate text_area -->
      <%= form_for [@itinerary, Review.new] do |f| %>
        <div>
          <%= f.text_area :content, :rows => 3, :cols => 50 %>
        </div>
        <%= f.submit "Add comment" %>
      <% end %>
    </div>
  </div>
  <br>
  <div class = "col-md-2 col-md-offset-2">
    <%=  link_to('Back to Itineraries', itineraries_path, {class: "btn btn-primary"}) %>
  </div>
</div>







